*{
	box-sizing: border-box;
}

html, body{
	padding:0;
	margin: 0;
	font-family: 'Prompt', sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body{

}

#title{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.85) url('assets/title@2x.png') no-repeat center 35%;
	background-size: 95vw;
	z-index: 3; 
}

#container{
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    padding: 16px;
}

#field{
	position: relative;
	height: 28vh;
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

#ruler{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('assets/ruler.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#field div{
	flex: 1;
}


#bottom{
	display: flex;
	height: 100%;
}

#bottom > div{
	flex: 1;
	position: relative;
}

#bottom > div#ball_container{
	position: absolute;
	width: 80%;
	height: 100%;
	margin: 16px 10%;
	background: url('assets/ruler2.svg') center center no-repeat;
	z-index: 2
}

#ball{
	background: url('assets/center.svg') no-repeat bottom left;
	background-size: 160px; 
	position: absolute;
	width: 160px;
	height: 160px;

	top: 50%;
	margin-top: -80px;
	left: 50%;
	margin-left: -80px;

	/*transition: all .3s ease-out;*/
	z-index: 2;
}

.red{
	background: url('assets/pattern.png') #ff4a1d;
}

.red .expression{
	background-image: url('assets/face_red.svg');
	left: 50%;
}

.red::after{
	background: url('assets/arrow_left.svg') center no-repeat;
	left: 10%;
}

.blue{
	background: url('assets/pattern.png') #004ede;
}

.blue .expression{
	background-image: url('assets/face_blue.svg');
	right: 50%;
}

.blue::after{
	background: url('assets/arrow_right.svg') center no-repeat;
	right: 10%;
}

.expression{
	position: absolute;
	margin-top: 100%;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	box-shadow: 0 10px 20px rgba(0,0,0,.4);
	background-size: 200px;
	background-position: center; 
	background-repeat: no-repeat;  
	z-index: 2;
	top: 50%;
    position: absolute;
    margin-top: -60px;
}

.side::after{
	content:"";
	display: block;
	width: 51px;
	height: 63px;
	position: absolute;
	top: 50%;
}

#bottom > div#camera{
	flex: 10;
	background: #FFF;
	border-left: solid 16px #FFF;
	border-right: solid 16px #FFF;
	background: #212121;
}

#timer{
	position: absolute;
	height: 16px;
	background: rgba(0,0,0,.4); 
	top: 20px;
	left: 2%;
	width: 96%;
}

#timer_bar{
	height: 16px;
	width: 0%;
	background: #FFF 
}