*{
	box-sizing: border-box;
}

html, body{
	padding:0;
	margin: 0;
	font-family: 'Prompt', sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body{
	padding: 16px;
}

#title{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.65) url('assets/title@2x.png') no-repeat center 35%;
	background-size: 80vw;
	z-index: 2; 
}

#container{
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
}

#field{
	position: relative;
	height: 28vh;
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

#ruler{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('assets/ruler.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#field div{
	flex: 1;
}

#field #ball{
	background: url('assets/ball.svg') no-repeat bottom left;
	background-size: 152px; 
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	box-shadow: 0 10px 20px rgba(0,0,0,.4);

	top: 50%;
	margin-top: -70px;
	left: 50%;
	margin-left: -70px;

}

#bottom{
	display: flex;
	height: 100%;
	border-top: solid 16px #FFF;
}

#bottom > div{
	flex: 1;
}

.red{
	background: url('assets/pattern.png') #ff4a1d;
}

.red .expression{
	background-image: url('assets/face_red.svg')
}

.blue{
	background: url('assets/pattern.png') #004ede;
}

.blue .expression{
	background-image: url('assets/face_blue.svg')
}

.expression{
	margin: 50% auto;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	box-shadow: 0 10px 20px rgba(0,0,0,.4);
	background-size: 170px;
	background-position: center; 
	background-repeat: no-repeat;  
}

#bottom > div#camera{
	flex: 3.5;
	background: #FFF;
	border-left: solid 16px #FFF;
	border-right: solid 16px #FFF;
}